/* 1. each of the following styles for text:
    x one font-family declaration
    x a :hover pseudo-class to create a rollover effect for navigation buttons
x2. a float property to position at least one HTML element to the side of another in your web page
3. absolute and x relative positioning in at least one area of your web page
x4. each of the following selectors: x one element selector to style the HTML elements x one class selector that is used at least two times to style HTML elements x one ID selector to format specific elements of a page */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: .1rem 1rem;
  background-color: darkgrey;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .8);
}

.hero {
  flex: 1 0;
  display: flex;
  gap: .75rem;
  justify-content: begin;
  align-items: center;
}

.page-nav {
  flex: 1 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  list-style-position: inside;
  gap: .5rem;
  align-items: center;
  padding: none;
  line-height: 2;
}

.nav-link {
  display: inline-block;
  padding: .5rem 0;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border: 2px solid gray;
  border-radius: 5px;
  color: azure;
  min-width: 100px;
}

.nav-link:hover {
  border-color: ghostwhite;
  background-color: darkgreen;
  color: ghostwhite;
}

main {
  padding: 1rem;
  margin: 50px auto;
  max-width: 1100px;
  min-height: 80dvh;
}

p {
  margin-bottom: 1.5rem;
}

h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .25rem;
}

.float-right {
  float: right;
  margin-left: 1rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: .75rem;
  margin-bottom: 1.5rem;
  width: 500px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  clear: both;
}

.card-item-reverse {
  flex-direction: row-reverse;
}

.card-text {
  flex: 2 0;
  margin-top: 0;
  padding: 1rem;
  text-align: justify;
}

.card .card-item-img {
  flex: 1 0;
  width: 190px;
  height: 100%;
}

figure {
  margin: 0;
}

.card img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

figcaption {
  padding: 1rem 0;
  width: 100%;
  white-space: pre-wrap;
}

.list {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#largest-cities-table {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#table-header {
  background-color: white;
  position: relative;
  top: -28px;
  margin-bottom: -28px;
  font-size: 1.1rem;
}

.col-header {
  position: relative;
  top: -14px;
  margin-bottom: -14px;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  font-weight: 800;
}

.col {
  padding: 0 1rem;
}

#contact-form {
  clear: both;
  display: flex;
  flex-flow: column;
  gap: .25rem;
  margin: 3rem auto;
  padding: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  align-items: center;
}

#contact-form h3 {
  margin: 0;
}

.contact-input {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: .5rem;
  width: 50%;
  min-width: 300px;
  gap: .25rem;
}

footer {
  margin: 0;
  margin-top: 1.5rem;
  padding: .5rem 1rem;
  min-height: 3rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .8);
  background-color: rgba(0, 0, 0, .5);
  color: white;
  clear: both;
}

footer p:first-child {
  position: absolute;
}


@media (max-width: 800px) {
  aside.card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .page-header {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .hero {
    justify-content: center;
    gap: 1.5rem;
  }

  .hero h1 {
    width: min-content;
  }

  .page-nav {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .page-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .page-nav ul li {
    width: 100%;
    margin-left: -35px;
  }

  .nav-link {
    min-width: 100%;
  }

  #largest-cities-table {
    width: 100%;
  }

  .contact-input {
    width: 100%;
  }

  .card {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .card-item {
    flex-flow: column nowrap;
    width: 100%;
    height: unset;
  }

  .card .card-item-img {
    min-width: 100%;
    height: 100px;
  }

  .card-text {
    width: 100%;
    text-align: center;
  }

  .city-info {
    clear: both;
  }
}

@media (max-width: 400px) {
  .card {
    border: none;
    box-shadow: none;
    gap: 1rem;
  }
}